<%- include("templates/head",{title:'Inicio'}) %>
		<div class="text-center text-3xl font-bold my-4">
			<h1>¡Añade una nota!</h1>
		</div>
		<div class="grid grid-cols-1 justify-items-center">
			<form action="/" method="POST" id="form" class="flex flex-col bg-red-300 p-4 rounded-xl w-80">
				<div id="message"></div>
				<div>
					<label for="title">Titulo</label> <br />
					<input type="text" class="w-full rounded-md" name="title" id="title" /> <br />
				</div>
				<div>
					<label for="topic">Tema</label> <br />
					<input type="text" class="w-full rounded-md" name="topic" id="topic" /> <br />
				</div>
				<div>
					<label for="description">Descripción</label> <br />
					<textarea
						cols="30"
						rows="10"
						class="w-full resize-none rounded-md"
						name="description"
						id="description"
					></textarea>
					<br />
				</div>
				<div class="flex justify-center">
					<input
						type="submit"
						value="Agregar"
						class="px-3 py-1 bg-red-500 hover:bg-danger text-white rounded-xl cursor-pointer"
					/>
				</div>
			</form>
			<div class="mt-5">
				<legend class="text-3xl my-4 font-bold text-center">Listado de Notas</legend>
				<table class="border-separate border border-red-800 w-80 lg:w-full">
					<thead>
						<tr>
							<th class="border border-red-600">ID</th>
							<th class="border border-red-600">Titulo</th>
							<th class="border border-red-600">Tema</th>
							<th class="border border-red-600">Descripción</th>
							<th class="border border-red-600">Acción</th>
						</tr>
					</thead>
					<tbody>
						<% arrayNotes.forEach(note => { %>
						<tr>
							<td class="border border-red-600"><%= note.id %></td>
							<td class="border border-red-600"><%= note.title %></td>
							<td class="border border-red-600"><%= note.topic %></td>
							<td class="border border-red-600"><%= note.description %></td>
							<td class="border border-red-600">
								<a class="bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500 text-white font-bold p-2 m-2 rounded-lg" href="/note/<%= note.id %>">Detalle</a>
							</td>
						</tr>
						<% }) %>
					</tbody>
				</table>
			</div>
		</div>
		<%- include ("templates/footer") %>